@model WebApplication2.Models.Post
@{
    ViewBag.Title = "Редагування Постів";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="panel">
    <div class="panel-heading">
        <h2>Адмін панель : Блог : Редагування статті @Model.Title</h2>
    </div>
    @using (Html.BeginForm("EditPost", "Admin",
                        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "Id":
                    case "IdAuthor":
                    case "ImageData":
                    case "ImageMimeType":
                        // Ничего не делать
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Text")
                            {
                                @Html.TextArea(property.PropertyName, null,
                                    new { @class = "form-control", rows = 5 })
                            }
                            else if (property.PropertyName == "Date")
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class="form-control", type="datetime"});
                               }
                            else
                            {
                                @Html.TextBox(property.PropertyName, property.Model,
                                    new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }
            <div id="PostImage" class="form-group">
               
               <a id="EditImage" class="btn btn-default">Змінити зображення цього поста</a>
                @if (Model.ImageData == null)
                {
                    <div class="form-control-static">Нет картинки</div>
                }
                else
                {
                    <img class="img-thumbnail" width="300" height="300"
                         src="@Url.Action("GetImageForPost", "Admin",
                        new { Model.Id })" />
                }
            </div>
        </div>
            <div class="panel-footer panel-info">
                <input id="SaveBtn"type="submit" value="Сохранить" class="btn btn-primary" />
                @Html.ActionLink("Отменить изменения и вернуться к списку", "Posts", null, new
           {
               @class = "btn btn-default"
           })
            </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        alert('Hello');
        $('#EditImage').click(function () {
            alert("hello");

            $.ajax({
                type: "POST",
                url: '@Url.Action("EditImage", "Admin")',
                success: function (data) {
                    alert("Ajax done");
                    alert(data);
                    $('#PostImage').append(data);
                    $('#EditImage').hide();
                },
                failure: function (errMsg) {
                    alert("Error " + errMsg);                }
            });

            alrrt("End");
        });
           });
</script>





